body{
  font-family: georgia, times, serif;
  color: #333;
  font-size: 1.3rem;
  line-height: 1.4em;
  margin: 0;
}
main p{
  margin-top: 1.6em;
  text-align: justify;
}
main h1{
  font-size: 2rem;
  line-height: 1.3em;
}
main a{
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: black;
  transition: all 0.45s linear;
}
main a:hover{
  background: #89d631;
  color: white;
}

main{
  text-align: center;
  font-family: monospace;
}
.menu h2{
  text-align: left;
}
.menu dl{
  text-align: justify;
}
.menu dt{
  font-weight: 900;
}
.menu_dere h2{
  text-align: right;
}
.menu_dere dl{
  text-align: right;
}
.menu_dere dt{
  font-weight: 900;
}
.menu_dere ul{
  text-align: right;
  list-style: none;
}
.menu ul{
  text-align: justify;
  list-style: none;
}
